* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: block;
}

/*----------------
--- Typography ---
------------------*/

#title {
  font-size: 2rem;
  margin-top: 1rem;
}

#timer-label {
  font-size: 1.25rem;
}

#time-left {
  font-size: 3.5rem;
  font-weight: 400;
}

#icon-timer {
  font-size: 2rem;
}

#start_stop,
#reset {
  font-size: 1.5rem;
}

#session-label,
#break-label {
  width: 100%;
  font-size: 1rem;
  margin: 0.75rem;
}

#session-length,
#break-length {
  font-size: 1.75rem;
}

/*----------------
----- Layout -----
-----------------*/

body {
  background: #ff4d4d;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.App {
  width: 22.5rem;
  margin: 5rem auto;
  border: 2px solid white;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.timer-wrapper {
  width: 13.5rem;
  height: 13.5rem;
  margin: 2rem auto;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fade {
  animation-name: fade-in-keyframes;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.controls-wrapper {
  margin: 2rem auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
}

#start_stop {
  padding: 0;
  border: none;
  background: none;
  color: white;
  outline: none;
}

#start_stop:hover,
#reset:hover {
  opacity: 0.5;
}

.length-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.session-wrapper,
.break-wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

#session-length,
#break-length {
  width: 2.5rem;
}

.length-wrapper button {
  background-color: #ff4d4d;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  outline: none;
}

.length-wrapper button:hover {
  opacity: 0.5;
}
